In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

**Import Dataset**

In [2]:
shopee_march = pd.read_excel('Shopee_March_Order.xlsx')

In [3]:
shopee_april = pd.read_excel('Shopee_April_Order.xlsx')

In [4]:
tokopedia_march = pd.read_excel('Tokopedia_March_Order.xlsx')

In [5]:
tokopedia_april = pd.read_excel('Tokopedia_April_Order.xlsx')

**Merging The Same Marketplace**

In [6]:
shopee = pd.concat([shopee_march, shopee_april], axis=0)
shopee = shopee.reset_index(drop=True)
shopee['Marketplace'] = "Shopee"

In [7]:
shopee.head()

,No. Pesanan,Status Pesanan,Status Pembatalan/ Pengembalian,No. Resi,Opsi Pengiriman,Antar ke counter/ pick-up,Pesanan Harus Dikirimkan Sebelum (Menghindari keterlambatan),Waktu Pengiriman Diatur,Waktu Pesanan Dibuat,Waktu Pembayaran Dilakukan,...,Potongan Koin Shopee,Diskon Kartu Kredit,Ongkos Kirim Dibayar oleh Pembeli,Total Pembayaran,Perkiraan Ongkos Kirim,Catatan dari Pembeli,Catatan,city,user_id,Marketplace
0,2103017PUH1WMN,Selesai,NaN,JP1737075560,J&T Express,Pickup,2021-03-03 09:31,2021-03-01 17:36,2021-03-01 09:31,2021-03-01 09:31,...,0,Rp 0.0,Rp 0.0,Rp 174500.0,Rp 10000.0,NaN,NaN,Tangerang Selatan,51,Shopee
1,210302AX6RYQ4M,Selesai,NaN,002504001154,SiCepat REG,Pickup,2021-03-04 16:20,2021-03-03 14:40,2021-03-02 16:20,2021-03-02 16:20,...,6437,Rp 0.0,Rp 7000.0,Rp 253280.0,Rp 7000.0,NaN,NaN,Bogor,49,Shopee
2,210306K5X0XM90,Selesai,NaN,IN-2-0IUPCRH3H1SSIS5R8P15,GrabExpress Instant,Pickup,2021-03-08 23:30,2021-03-06 09:41,2021-03-05 23:00,2021-03-05 23:01,...,0,Rp 0.0,Rp 6000.0,Rp 769500.0,Rp 6000.0,NaN,NaN,Surabaya,106,Shopee
3,210306K5X0XM90,Selesai,NaN,IN-2-0IUPCRH3H1SSIS5R8P15,GrabExpress Instant,Pickup,2021-03-08 23:30,2021-03-06 09:41,2021-03-05 23:00,2021-03-05 23:01,...,0,Rp 0.0,Rp 6000.0,Rp 769500.0,Rp 6000.0,NaN,NaN,Surabaya,106,Shopee
4,210306K5X0XM90,Selesai,NaN,IN-2-0IUPCRH3H1SSIS5R8P15,GrabExpress Instant,Pickup,2021-03-08 23:30,2021-03-06 09:41,2021-03-05 23:00,2021-03-05 23:01,...,0,Rp 0.0,Rp 6000.0,Rp 769500.0,Rp 6000.0,NaN,NaN,Surabaya,106,Shopee

In [8]:
tokopedia = pd.concat([tokopedia_march, tokopedia_april], axis=0)
tokopedia = tokopedia.reset_index(drop=True)
tokopedia['Marketplace'] = "Tokopedia"

In [9]:
tokopedia.head()

,Count,Order ID,Invoice,Payment Date,Order Status,Product ID,Product Name,Quantity,Stock Keeping Unit (SKU),Notes,...,Total Shipping Fee (Rp.),Total Amount (Rp.),AWB,Jenis Layanan,Bebas Ongkir,Warehouse Origin,Campaign Name,city,user_id,Marketplace
0,1.0,724560760,INV/20210301/XXI/III/766121726,01-03-2021 07:53:11,Transaksi selesai..\nDana akan diteruskan ke p...,980008156,miniletics Tank Top Olahraga Wanita Cross Limi...,1,CLT_Black_S,NaN,...,12500,2593500,IN-2-0IUPBBUNJSIWHKRC8T44,Same Day,No,Shop Location,-,Kupang,140,Tokopedia
1,NaN,724560760,INV/20210301/XXI/III/766121726,01-03-2021 07:53:11,Transaksi selesai..\nDana akan diteruskan ke p...,1046893982,miniletics Tank Top Olahraga Wanita ClariTy Ta...,1,CT_LightPurple_S,NaN,...,12500,2593500,IN-2-0IUPBBUNJSIWHKRC8T44,Same Day,No,Shop Location,-,Kupang,140,Tokopedia
2,NaN,724560760,INV/20210301/XXI/III/766121726,01-03-2021 07:53:11,Transaksi selesai..\nDana akan diteruskan ke p...,1138628370,miniletics Legging Olahraga Wanita Motion Legg...,1,MOL34_Maroon_S,NaN,...,12500,2593500,IN-2-0IUPBBUNJSIWHKRC8T44,Same Day,No,Shop Location,-,Kupang,140,Tokopedia
3,NaN,724560760,INV/20210301/XXI/III/766121726,01-03-2021 07:53:11,Transaksi selesai..\nDana akan diteruskan ke p...,1046900478,miniletics Baju Olahraga Wanita Tank Top Tie I...,1,TST_SoftPink_S,NaN,...,12500,2593500,IN-2-0IUPBBUNJSIWHKRC8T44,Same Day,No,Shop Location,-,Kupang,140,Tokopedia
4,NaN,724560760,INV/20210301/XXI/III/766121726,01-03-2021 07:53:11,Transaksi selesai..\nDana akan diteruskan ke p...,1237450796,miniletics Celana Olahraga Wanita Motion Short...,1,MOLShorts_BrickRed_S,NaN,...,12500,2593500,IN-2-0IUPBBUNJSIWHKRC8T44,Same Day,No,Shop Location,-,Kupang,140,Tokopedia

# **Data Cleaning**

**Removing columns**

# **Tokopedia dataframe**

In [10]:
tokopedia.columns

Index(['Count', 'Order ID', 'Invoice', 'Payment Date', 'Order Status',
       'Product ID', 'Product Name', 'Quantity', 'Stock Keeping Unit (SKU)',
       'Notes', 'Price (Rp.)', 'Discount Amount (Rp.)', 'Subsidi Amount (Rp.)',
       'Courier', 'Shipping Price + fee (Rp.)', 'Insurance (Rp.)',
       'Total Shipping Fee (Rp.)', 'Total Amount (Rp.)', 'AWB',
       'Jenis Layanan', 'Bebas Ongkir', 'Warehouse Origin', 'Campaign Name',
       'city', 'user_id', 'Marketplace'],
      dtype='object')

**Remove unnecessary column**

In [11]:
tokopedia = tokopedia.drop(['Count', 'Product ID', 'Invoice', 'Notes', 'AWB',
                            'Jenis Layanan', 'Warehouse Origin', 'Campaign Name', 'Bebas Ongkir'], axis=1)

**Edit Order Status, Quantity, Courier, and user_id**

In [12]:
order_status = ['selesai', 'dibatalkan', 'ditolak', 'tujuan', 'dikirim']
tokopedia['Order ID'] = tokopedia['Order ID'].apply(lambda x: str(int(x)))
tokopedia['Order Status'] = tokopedia['Order Status'].apply(lambda x: x.replace(".", " "))
tokopedia['Order Status'] = tokopedia['Order Status'].apply(lambda x: ','.join(set(x.split()).intersection(order_status)))
tokopedia['Quantity'] = tokopedia['Quantity'].apply(lambda x: int(x))
tokopedia['user_id'] = tokopedia['user_id'].apply(lambda x: str(int(x)))
tokopedia['Courier'] = tokopedia['Courier'].apply(lambda x: x.split('(')[0])

**Format Date**

In [13]:
def date_format(x):
    day = x.split('-')[0]
    tmp = day
    my = x.split('-')[1]
    my.replace('2021', day)
    day = '2021'
    return day+'-'+my+'-'+tmp

In [14]:
tokopedia['Payment Hours'] = tokopedia['Payment Date'].apply(lambda x: x.split(' ')[1])
tokopedia['Payment Date'] = tokopedia['Payment Date'].apply(lambda x: x.split(' ')[0])
tokopedia['Payment Date'] = tokopedia['Payment Date'].apply(lambda x: date_format(x))

In [15]:
def headband(x):
    if "Headband" in x:
        return x+",Headband"
    else:
        return x

In [16]:
tokopedia['Product Name'] = tokopedia['Product Name'].apply(lambda x: headband(x))

In [17]:
tokopedia.columns = ['Order ID', 'Payment Date', 'Order Status', 'Product Name', 'Quantity', 
                     'Stock Keeping Unit (SKU)', 'Price (Rp.)', 'Discount Amount (Rp.)', 
                     'Subsidi Amount (Rp.)', 'Courier', 'Shipping Price + fee (Rp.)', 'Insurance (Rp.)',
                     'Total Shipping Fee (Rp.)', 'Total Amount (Rp.)',
                     'city', 'user_id', 'Marketplace', 'Payment Hours']

**Add new column for Variation Name**

In [18]:
tokopedia['Variation Name'] = tokopedia['Product Name'].apply(lambda x: x[::-1].split('-')[0])

In [19]:
tokopedia['Variation Name'] = tokopedia['Variation Name'].apply(lambda x: x[::-1])

**Fixing total amount column value**

The total column value sum up every order of the same person in the same order id, so we will set in only appear once every order id

**Set total amount to zero if order id is same as previous**

In [20]:
orderid = []
def shipping(id, fee):
    if id not in orderid:
        orderid.append(id)
        fee = fee
    else:
        fee = 0.0
    return fee

In [21]:
tokopedia['Discount Amount (Rp.)'] = tokopedia.apply(lambda x: shipping(x['Order ID'], x['Discount Amount (Rp.)']), axis=1)
orderid[:] = []
tokopedia['Subsidi Amount (Rp.)'] = tokopedia.apply(lambda x: shipping(x['Order ID'], x['Subsidi Amount (Rp.)']), axis=1)
orderid[:] = []
tokopedia['Shipping Price + fee (Rp.)'] = tokopedia.apply(lambda x: shipping(x['Order ID'], x['Shipping Price + fee (Rp.)']), axis=1)
orderid[:] = []
tokopedia['Insurance (Rp.)'] = tokopedia.apply(lambda x: shipping(x['Order ID'], x['Insurance (Rp.)']), axis=1)
orderid[:] = []
tokopedia['Total Shipping Fee (Rp.)'] = tokopedia.apply(lambda x: shipping(x['Order ID'], x['Total Shipping Fee (Rp.)']), axis=1)
orderid[:] = []
tokopedia['Total Amount (Rp.)'] = tokopedia.apply(lambda x: shipping(x['Order ID'], x['Total Amount (Rp.)']), axis=1)
orderid[:] = []

In [22]:
tokopedia = tokopedia.dropna()

**Drop insurance and shipping price to match with Shopee dataframe**

In [23]:
tokopedia = tokopedia.drop(['Insurance (Rp.)', 'Shipping Price + fee (Rp.)'], axis=1)

**Tokopedia dataframe is Clean!**

# **Shopee dataframe**

**Removing column**

In [24]:
shopee.columns

Index(['No. Pesanan', 'Status Pesanan', 'Status Pembatalan/ Pengembalian',
       'No. Resi', 'Opsi Pengiriman', 'Antar ke counter/ pick-up',
       'Pesanan Harus Dikirimkan Sebelum (Menghindari keterlambatan)',
       'Waktu Pengiriman Diatur', 'Waktu Pesanan Dibuat',
       'Waktu Pembayaran Dilakukan', 'SKU Induk', 'Nama Produk',
       'Nomor Referensi SKU', 'Nama Variasi', 'Harga Awal',
       'Harga Setelah Diskon', 'Jumlah', 'Total Harga Produk', 'Total Diskon',
       'Diskon Dari Penjual', 'Diskon Dari Shopee', 'Berat Produk',
       'Jumlah Produk di Pesan', 'Total Berat', 'Voucher Ditanggung Penjual',
       'Cashback Koin', 'Voucher Ditanggung Shopee', 'Paket Diskon',
       'Paket Diskon (Diskon dari Shopee)',
       'Paket Diskon (Diskon dari Penjual)', 'Potongan Koin Shopee',
       'Diskon Kartu Kredit', 'Ongkos Kirim Dibayar oleh Pembeli',
       'Total Pembayaran', 'Perkiraan Ongkos Kirim', 'Catatan dari Pembeli',
       'Catatan', 'city', 'user_id', 'Marketplace'],
      dtype='object')

**Remove unnecessary column**

In [25]:
shopee = shopee.drop(['Status Pembatalan/ Pengembalian', 'No. Resi', 'Antar ke counter/ pick-up',
                     'Pesanan Harus Dikirimkan Sebelum (Menghindari keterlambatan)',
                      'Waktu Pengiriman Diatur', 'Waktu Pesanan Dibuat', 'Paket Diskon',
                      'SKU Induk', 'Berat Produk', 'Jumlah Produk di Pesan', 'Total Berat',
                      'Cashback Koin', 'Catatan dari Pembeli', 'Catatan', 'Perkiraan Ongkos Kirim',
                      'Harga Setelah Diskon', 'Total Harga Produk'
                     ], axis=1)

In [26]:
shopee.columns = ['Order ID', 'Order Status', 'Courier', 'Payment Date', 'Product Name', 
                  'Stock Keeping Unit (SKU)', 'Variation Name', 'Price (Rp.)', 'Quantity', 
                  'Discount Amount (Rp.)', 'Diskon Dari Penjual',
                  'Diskon Dari Shopee', 'Voucher Ditanggung Penjual', 'Voucher Ditanggung Shopee', 
                  'Paket Diskon (Diskon dari Shopee)', 'Paket Diskon (Diskon dari Penjual)', 
                  'Potongan Koin Shopee', 'Diskon Kartu Kredit', 'Total Shipping Fee (Rp.)',
                  'Total Amount (Rp.)', 'city', 'user_id', 'Marketplace']

**Edit Column**

In [27]:
shopee['Courier'] = shopee['Courier'].map(str).str.replace('Reguler','').str.strip()
shopee['Courier'] = shopee['Courier'].apply(lambda x: x.split(' ')[0])
shopee['Courier'] = shopee['Courier'].map(str).str.replace('Instant','').str.strip()

**Remove Rp sign from dataframe**

In [28]:
for feature in shopee.columns:
    shopee[feature] = shopee[feature].map(str).str.replace('Rp ','').str.strip()

**Change column data type**

In [29]:
shopee['Price (Rp.)'] = shopee['Price (Rp.)'].apply(lambda x: float(x))
shopee['Discount Amount (Rp.)'] = shopee['Discount Amount (Rp.)'].apply(lambda x: float(x))
shopee['Diskon Dari Penjual'] = shopee['Diskon Dari Penjual'].apply(lambda x: float(x))
shopee['Diskon Dari Shopee'] = shopee['Diskon Dari Shopee'].apply(lambda x: float(x))
shopee['Voucher Ditanggung Penjual'] = shopee['Voucher Ditanggung Penjual'].apply(lambda x: float(x))
shopee['Voucher Ditanggung Shopee'] = shopee['Voucher Ditanggung Shopee'].apply(lambda x: float(x))
shopee['Paket Diskon (Diskon dari Shopee)'] = shopee['Paket Diskon (Diskon dari Shopee)'].apply(lambda x: float(x))
shopee['Paket Diskon (Diskon dari Penjual)'] = shopee['Paket Diskon (Diskon dari Penjual)'].apply(lambda x: float(x))
shopee['Potongan Koin Shopee'] = shopee['Potongan Koin Shopee'].apply(lambda x: float(x))
shopee['Diskon Kartu Kredit'] = shopee['Diskon Kartu Kredit'].apply(lambda x: float(x))

**Calculate Discount Amount**

In [30]:
shopee['Discount Amount (Rp.)'] = shopee['Diskon Dari Penjual'] + shopee['Diskon Dari Shopee'] + shopee['Paket Diskon (Diskon dari Shopee)'] + shopee['Paket Diskon (Diskon dari Penjual)'] + shopee['Potongan Koin Shopee'] + shopee['Diskon Kartu Kredit']

In [31]:
shopee = shopee.drop(['Diskon Dari Penjual', 'Diskon Dari Shopee', 'Paket Diskon (Diskon dari Shopee)',
                     'Paket Diskon (Diskon dari Penjual)', 'Potongan Koin Shopee', 'Diskon Kartu Kredit'], axis=1)

**Calculate Subsidi Amount**

In [32]:
shopee['Subsidi Amount (Rp.)'] = shopee['Voucher Ditanggung Penjual'] + shopee['Voucher Ditanggung Penjual']

In [33]:
shopee = shopee.drop(['Voucher Ditanggung Penjual', 'Voucher Ditanggung Shopee'], axis=1)

**Fixing total amount column value**

The total column value sum up every order of the same person in the same order id, so we will set in only appear once every order id

**Set total amount to zero if order id is same as previous**

In [34]:
shopee['Discount Amount (Rp.)'] = shopee.apply(lambda x: shipping(x['Order ID'], x['Discount Amount (Rp.)']), axis=1)
orderid[:] = []
shopee['Subsidi Amount (Rp.)'] = shopee.apply(lambda x: shipping(x['Order ID'], x['Subsidi Amount (Rp.)']), axis=1)
orderid[:] = []
shopee['Total Shipping Fee (Rp.)'] = shopee.apply(lambda x: shipping(x['Order ID'], x['Total Shipping Fee (Rp.)']), axis=1)
orderid[:] = []
shopee['Total Amount (Rp.)'] = shopee.apply(lambda x: shipping(x['Order ID'], x['Total Amount (Rp.)']), axis=1)
orderid[:] = []

**Format Date**

In [35]:
shopee['Payment Hours'] = shopee['Payment Date'].apply(lambda x: x.split(' ')[1])

In [36]:
shopee['Payment Date'] = shopee['Payment Date'].apply(lambda x: x.split(" ")[0])

**Shopee dataframe is Clean!**

# Concat two dataframe

In [37]:
df = pd.concat([tokopedia, shopee], axis=0)

In [38]:
df = df.reset_index(drop=True)

**Edit Dataframe**

In [39]:
df['Stock Keeping Unit (SKU)'] = df['Stock Keeping Unit (SKU)'].map(lambda x: x.split('_')[0])

In [40]:
df['Size'] = df['Variation Name'].map(lambda x: x.split(',')[1])
df['Color'] = df['Variation Name'].map(lambda x: x.split(',')[0])

In [41]:
df = df.drop('Variation Name', axis=1)

In [42]:
df.head()

,Order ID,Payment Date,Order Status,Product Name,Quantity,Stock Keeping Unit (SKU),Price (Rp.),Discount Amount (Rp.),Subsidi Amount (Rp.),Courier,Total Shipping Fee (Rp.),Total Amount (Rp.),city,user_id,Marketplace,Payment Hours,Size,Color
0,724560760,2021-03-01,selesai,miniletics Tank Top Olahraga Wanita Cross Limi...,1,CLT,139500.0,0.0,0.0,GrabExpress,12500.0,2593500.0,Kupang,140,Tokopedia,07:53:11,S,Black
1,724560760,2021-03-01,selesai,miniletics Tank Top Olahraga Wanita ClariTy Ta...,1,CT,139000.0,0.0,0.0,GrabExpress,0.0,0.0,Kupang,140,Tokopedia,07:53:11,S,Light Purple
2,724560760,2021-03-01,selesai,miniletics Legging Olahraga Wanita Motion Legg...,1,MOL34,234500.0,0.0,0.0,GrabExpress,0.0,0.0,Kupang,140,Tokopedia,07:53:11,S,Maroon
3,724560760,2021-03-01,selesai,miniletics Baju Olahraga Wanita Tank Top Tie I...,1,TST,144000.0,0.0,0.0,GrabExpress,0.0,0.0,Kupang,140,Tokopedia,07:53:11,S,Soft Pink
4,724560760,2021-03-01,selesai,miniletics Celana Olahraga Wanita Motion Short...,1,MOLShorts,184500.0,0.0,0.0,GrabExpress,0.0,0.0,Kupang,140,Tokopedia,07:53:11,S,Brick Red

In [43]:
df.isnull().sum()

Order ID                    0
Payment Date                0
Order Status                0
Product Name                0
Quantity                    0
Stock Keeping Unit (SKU)    0
Price (Rp.)                 0
Discount Amount (Rp.)       0
Subsidi Amount (Rp.)        0
Courier                     0
Total Shipping Fee (Rp.)    0
Total Amount (Rp.)          0
city                        0
user_id                     0
Marketplace                 0
Payment Hours               0
Size                        0
Color                       0
dtype: int64

**Save to excel**

In [44]:
file_name = "final_dataframe.xlsx"

In [45]:
# df.to_excel(file_name, index=False)